/* Gaya umum untuk body */
body {
    background-color: #343a40; /* Warna latar belakang gelap */
    color: #ffffff; /* Warna teks terang */
}

/* Gaya untuk kontainer obrolan utama */
.chat-container {
    max-width: 1000px; /* Lebar yang diperbarui untuk kontainer obrolan */
    margin: 50px auto;
    background-color: #212529; /* Warna latar belakang kontainer obrolan gelap */
    border: 1px solid #343a40; /* Warna batas gelap */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

/* Gaya untuk kotak obrolan */
.chat-box {
    padding: 45px;
    height: 400px;
    overflow-y: auto;
}

/* Gaya untuk pesan pengguna dan bot */
.user-message, .bot-message {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
}

/* Gaya untuk pesan pengguna */
.user-message {
    text-align: right;
    background-color: #007bff;
    color: #ffffff;
}

/* Gaya untuk pesan bot */
.bot-message {
    text-align: left;
    background-color: #343a40;
    color: #ffffff;
}

/* Gaya untuk kotak input */
.input-box {
    padding: 10px;
    background-color: #212529; /* Warna latar belakang kotak input gelap */
    border-top: 1px solid #343a40; /* Warna batas gelap */
    display: flex;
    justify-content: space-between;
}

/* Gaya untuk bidang input pengguna */
#userInput {
    flex-grow: 1;
    margin-right: 10px;
    background-color: #343a40; /* Warna latar belakang bidang input gelap */
    color: #ffffff; /* Warna teks terang */
    border: none;
}

/* Gaya untuk tombol kirim */
.send-button {
    background-color: #007bff;
    color: #ffffff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

/* Gaya untuk tombol kirim saat dihover */
.send-button:hover {
    background-color: #0056b3;
}

/* Gaya untuk tombol salin */
.copy-button {
    background-color: #212529;
    color: #ffffff;
    border: none;
    padding: 3px 6px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 10px;
    margin-left: 5px;
}

/* Gaya untuk tombol salin saat dihover */
.copy-button:hover {
    background-color: #224b2b;
}
